certifi==2020.12.5
chardet==4.0.0
click==7.1.2
et-xmlfile==1.0.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-HTTPAuth==4.2.0
Flask-PyMongo==2.3.0
Flask-WTF==0.14.3
gitdb==4.0.5
GitPython==3.1.14
gunicorn==20.1.0
idna==2.10
importlib-metadata==3.7.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
openpyxl==3.0.7
pandas==1.1.5
prettytable==2.1.0
pyecharts==1.9.0
pymongo==3.11.3
python-dateutil==2.8.1
python-dotenv==0.17.1
pytz==2021.1
requests==2.25.1
simplejson==3.17.2
six==1.15.0
smmap==3.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.4.1
scipy~=1.6.3